<%- include partials/header.ejs %>
   <div class="topcorner">
                  <p style="font-size:25px;">Reach me on... </p>  
                  <p>  Email me : mpatel.y@gmail.com <br><br>
                       LinkdIn : https://ca.linkedin.com/in/mansi-patel-7aa673b0
                    </p>    
                </div> 
  </body>
</html>
